<h2 class="title is-size-5">
  Über mich
</h2>
<p class="paragraph">
  Mein Name ist
  <b>Jonas van den Berg</b>,
  ich habe Informatik an der
  <a href="https://de.wikipedia.org/wiki/Technische_Hochschule_K%C3%B6ln"
  target="_blank" rel="noopener noreferrer">
    Technischen Hochschule Köln
  </a>
  studiert
  und bin nun daran interessiert Studenten wie Dir Nachhilfe anzubieten.
</p>
<p class="paragraph">
  Im Sommer vor 5 Jahren habe ich zum ersten Mal in meiner Freizeit programmiert
  und mir seitdem das meiste, was ich heute weiß, eigenständig beigebracht.
  Software-Entwicklung ist seitdem ein fester Bestandteil meines Lebens geworden.
</p>
<p class="paragraph">
  Während des Studiums half ich Freunden und Kommilitonen
  immer Mal wieder dabei die Inhalte der Vorlesungen zu verstehen
  und zu lernen, wie man programmiert.
  Da ich große Freude daran hatte, möchte ich dies nun wieder aufgreifen.
</p>
<div style="width: 7.5rem;margin:1rem 0;border-top:1px solid lightgrey"></div>
<p class="paragraph">
  Auf dieser Seite findest Du alles, um mit mir in Kontakt treten zu können.
  In den nächsten Wochen werde ich diese weiter ausbauen,
  sodass ich ab circa <b>Mitte Oktober</b> bereit bin
  im Wintersemester Nachhilfe zu geben.
</p>
<p class="paragraph">
  Falls Du Fragen hast, kannst Du jederzeit auf mich zukommen!
</p>
<p class="paragraph mt-4 ml-2">
  &ndash;&emsp13;<i>Jonas</i>
</p>
